ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #bebebe;
    width: 120px;
    text-align: left;
    padding: 4px;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #cc0000;
}